*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.house{
    width: 40%;
    min-width: 450px; 
    overflow: hidden;
    position: absolute;
    left: 30%;
    top: 26%;
}
.house-image{
    opacity: 0.2;
    position: absolute;
    left: 0;
    top: 20%;
    width: 90%;
    height: auto;
}
.user-input{
    position: relative;
    margin-bottom: 50px; 
    padding: 10px 25px;
    display: flex;
    align-content: center;
    align-items: center;
}
.user-input label{
    margin-right: 30px;
    font-size: 20px;
}
.user-input input{
    height: 50px;
    background-color: #ffffff;
    color: #080808;
    font-weight: 500;
    margin-right: 30px;
    border-radius: 50px;
    width: 40%;
    padding: 0 20px;
    font-size: 20px;
}
.user-input button{
    font-size: 20px;
    height: 50px;
    background-color: turquoise;
    color: #ffffff;
    font-weight: 500;
    margin-right: 30px;
    border-radius: 30px;
    width: 30%;
    float: right;
    cursor: pointer;
    transition: ease-in-out 0.3ms;
}
.user-input button:hover{
    text-transform: uppercase;
    border: turquoise;
    transform: scale(0.9);
}
.countdown {
    position: relative;
    width: 100%;
    padding-top: 10px;
}
.countdown .alert-box p{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
}
.countdown .count-info{
    display: flex;
    height: 200px;
    width: 100%;
    position: relative;
    margin-bottom: 10px; 
    margin-left: 60px;
}
.countdown .count-info span{
    font-size: 110px;
    font-weight: 500;
    height: 50px;
    height: auto;
    color: #080808;
    font-weight: bold;
    margin-left: 30px;
}
.countdown .count-info h1{
    font-size: 110px;
}
.countdown .count-info button{
    font-size: 20px;
    height: 50px;
    background-color: transparent;
    color: #000000;
    font-weight: bold;
    margin-right: 100px;
    border-radius: 50%;
    border: 3px solid black;
    max-width: 10%;
    width: 50px;
    float: right;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 20px;
}
.countdown .count-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 50%;
    /* width: 55%; */
    place-items: center;
    /* margin-left: 80px; */
    margin-left: 20px;
    margin-bottom: 20px;
}
.countdown .count-buttons button:not(.reset-btn){
    font-size: 20px;
    height: 50px;
    color: #000000;
    font-weight: 500;
    margin-right: 10px;
    width: 40%;
    cursor: pointer;
    transition: ease-in-out 0.3ms;
}
.countdown .count-buttons button:hover:not(.reset-btn){
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
}
footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    background: blue;
    width: 100%;
    padding: 5px 0;
}
footer a{
    color: white;
}
.hide{
    visibility: hidden;
}
.active{
    background-color: gray;
}
:root {
    --nav-title-font-size: 3rem;
    --nav-title-font-weight: bold;
    --nav-link-font-weight: 300;
  }
  /* Navbar Section */
  .header-title {
    color: var(--color-text-light);
    text-decoration: none;
    font-size: var(--nav-title-font-size);
    font-weight: var(--nav-title-font-weight);
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  .header-nav {
    background: limegreen;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
    margin-bottom: 1rem;
    box-shadow: 10px 5px 10px 5px black;
    border-radius: 10px;
  }
  .navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}
  .nav{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
  }
  .navbar__item {
    height: 80px;
  }  
  .navbar__item {
    height: 80px;
    
  }
  .navbar__links {
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid white;
  }
  .header-nav li a:hover, .header-title:hover {
    color: white;
    text-decoration: underline;
  }
  @media screen and (max-width: 642px) {
    .house{
        width: 20%;
        min-width: 450px; 
        left: 10%;
    }
    .user-input button, input, label{
        font-size: 16px;
    }
  }
  @media screen and (max-width: 1291px) {
    .countdown .count-info h1{        
        font-size: 80px;
    }
    .countdown .count-info span{        
        font-size: 80px;
    }
  }
  @media screen and (max-width: 960px) {
    .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }
    .nav {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 0;
      transition: all 0.5s ease;
      height: 50vh;
      z-index: -1;
      background: white;
    }
    .nav.active {
      background: white;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 50vh;
      font-size: 1.2rem;
    }
    .header-title {
      padding-left: 25px;
    }
    .navbar__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: blue;
    }
    .navbar__item {
      width: 100%;
    }
    .navbar__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
      z-index: 100;
    }
    .navbar__toggle .bar {
      display: block;
      cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
  /* Styles for the reset button */
  .reset-btn{
    background: white;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0);
    cursor: pointer;
    margin-left: 70%;
    width: 10%;
    height: 18%;
    padding: 10px;
    font-size: 24px;
    color: red;
    font-weight: bold;
    transition: ease-in-out 1ms;
    position: absolute;
  }
  .reset-btn i{
  color: red;
  }
  .reset-btn:hover{
    box-shadow: 0px 0px 0px 0px rgb(0, 0, 0);
  }
  .blink{
      animation: blink 0.5s linear infinite;
    }
    
    @keyframes blink{
      0%{opacity: 0;}
      50%{opacity: .5;}
      100%{opacity: 1;}
      }